.hero-section {
    display: flex;
    justify-content: space-around;
    padding: 2rem 2rem 0rem 2rem;
    background-color: var(--dark-background);
}

.hero-content {
    text-align: center;
    margin-top: 2rem;
}
.hero-title {
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

.hero-subtitle {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}
.hero-description {
    color: var(--light-gray);
    font-size: 1.2rem;
    margin-bottom: 2rem;
}
.hero-button {
    background-color: var(--background-accent);
    color: var(--white-text);
    border: none;
    font-size: 1rem;
    font-weight: 600;
    padding: 0.75rem 0;
    cursor: pointer;
    border-radius: 999px;
    border: 2px solid var(--hover-purple);
    margin: 0 1rem;
}
.hero-button:hover {
    background-color: var(--hover-purple);
    transition: all 0.5s ease-in-out;
}
.hero-button a {
    color: var(--white-text);
    text-decoration: none;
    border-radius: 999px;
    padding: 0.75rem 1.5rem;
}

.hero-image{
    display: flex;
    justify-content: center;
}

.headshot img {
    margin: 2rem 0;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    object-fit: cover;
    border: 3px solid var(--hover-purple);
    animation: float 4s ease-in-out infinite;
}
@keyframes float {
    0%, 100% {
        transform: translateY(0px);
    }
    50% {
        transform: translateY(-10px);
    }
}

/*About Section*/
.about-content {
    text-align: center;
    margin: 2rem 0;
}
.about-content h2 {
    margin-bottom: 1rem;
}
.about-content p {
    color: var(--light-gray);
    margin: 1rem 5rem;
    line-height: 1.8;
}

/*Skills Section*/
.skills-content {
    text-align: center;
    margin: 2rem 0;
}

.skills-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: center;
    gap: 1rem;
    margin-top: 1rem;
}
.skills-card {
    border: 3px solid var(--light-background-accent);
    border-radius: 20px;
    padding: 1rem;
    width: 290px;
}
.skills-grid h3 {
    color: var(--light-purple);
    font-size: 1.3rem;
}
.skills-grid ul {
    list-style: none;
}
.skills-grid li {
    margin: 0.5rem 0;
}

@media (max-width: 1200px) {
    .hero-section {
        flex-direction: column;
        align-items: center;
        padding: 0.5rem 1rem;
    }
    .hero-content {
        margin-top: 1rem;
    }
    .hero-description {
        margin: 1rem 2rem;
    }
    .about-content {
        margin: 1rem 0;
    }
    .about-content p {
        margin: 1rem 2rem;
    }
}

@media (max-width: 600px) {
    .hero-title {
        font-size: 1.8rem;
    }
    .hero-subtitle {
        font-size: 1.2rem;
    }
    .hero-description {
        font-size: 1rem;
        margin: 1rem 1rem;
    }
    .hero-button {
        padding: 0.5rem 0rem;
        font-size: 0.9rem;
        margin: 0.5rem 0.5rem;
    }
    .hero-button a {
        padding: 0.5rem 2rem;
    }
    .headshot img {
        width: 200px;
        height: 200px;
    }
    .skills-card {
        width: 90%;
    }
}