:root{
    --background-black: #110720;
    --white-text: #f5f5f5;
    --light-gray: #b3b3b3;
    --dark-gray: #8b8b8b;
    --hover-purple: #7334D2;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}

body {
    background-color: var(--background-black);
    color: var(--white-text);
    line-height: 1.6;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    border-bottom: #8b8b8b3c 1px solid;
}
.nav-links {
    list-style: none;
    display: flex;
}
.nav-links a {
    color: var(--white-text);
    text-decoration: none;
    margin: 0 1rem;
}
.nav-links a:hover {
    color: var(--hover-purple);
    text-decoration: underline;
    text-underline-offset: 0.25rem;
}
.nav-links .nav-active {
    color: var(--hover-purple);
    text-decoration: underline;
    text-underline-offset: 0.25rem;
}
